<!--The content below is only a placeholder and can be replaced.-->
<div >
  <div style="text-align: center">
    <h1 style="margin: 10px">
      Welcome to The Game !!!
    </h1>
    <button type="button" class="btn btn-info" style="margin: 5px;" (click)="multiP()">Multi-Player</button>
    <button type="button" class="btn btn-info" style="margin: 5px;" (click)="vsComputer()">VS Computer</button>
    <button type="button" class="btn btn-info" style="margin: 5px;" (click)="helper()">Help !</button>

  </div>
  <form [formGroup]="form" style="margin-left: 30px">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Player 1:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="p1" formControlName="p1" placeholder="Player1" required>
      </div>
    </div>
    <div class="form-group row" *ngIf="!computer">
      <label class="col-sm-2 col-form-label">Player 2:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="p2" formControlName="p2" placeholder="Player2" required>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Number of matches :</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" formControlName="nbAllumettes">
        </div>
      </div>

    <button type="button" class="btn btn-info" [disabled]="form.invalid" (click)="startGame()">Start Game !</button>
    <app-game *ngIf="start" [items]="items" [p1]="p1" [p2]="p2" [computer]="computer" [events]="eventsSubject">
    </app-game>
    <app-help *ngIf="help"></app-help>
  </form>
</div>

<router-outlet></router-outlet>
